*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}

.block{
    display: block;
    background: black;
    color: white;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.inline{
    display: inline;
    background:blue;
    
    width: 100px;
    height: 100px;
    padding: 10px;
}

.inline-block{
    display: inline-block;
    background:pink;
    width: 100px;
    height: 100px;
    padding: 10px; 
}
.none{
    display: none;
    background:lightblue;
    width: 100px;
    height: 100px;
    padding: 10px;  
}
.hidden{
    visibility: hidden;
    background:violet;
    width: 100px;
    height: 100px;
    padding: 10px; 
}