*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    width: 100vw;
    height: 100%;
    background: rgb(240, 210, 210);
}

#flex-container{
    border: 4px solid #a52a2a;
    /*padding: 10px;*/
    margin: 10px;
    height: 60vh;
    display:flex;
    gap: 50px; 
   /* flex-direction: row;
    flex-wrap: wrap;instead of this we put below mention property
    because it contain both flexdirection
    and flex wrap */
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}

.box{
   height: 100px; 
   width:100px;
   background:gray;
   border: 2px solid black;
}

.box:nth-child(4){
    flex-grow:2;
    order: 1;
}
.box:nth-child(1){
    flex-grow:1;
    flex-shrink:1;
    order: 2;
} 