*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    width: 50%;
    height: 100vh;
    
} 
.box{
    border: 2px solid red;
    width: 100px;
    height: 100px;
}
#flex-container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}