*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }*/
body{
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--BGCOLOR);
}
:root{
    --BGCOLOR:gray;
}

header{
   width: 100%; 
   height: 15vh; 
   background:var(--BGCOLOR);
   
}

main{
    width: 100%;
    height: 80vh;
    background:white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

a{
    font-size: 24px;
    color: white;
}

footer{
    width: 100%;
    height: 5vh;
    background: black;
    color: white;
}

@media screen and (max-width:600px){
    .main-web{
        display: flex;
    }
    header{
        height:100vh;
        width: 25vw;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
   


    