/*static topic*/
.static{
    border: 5px solid black;
    width: 200px;
    height:200px;
    top: 50px;
    left: 50px;
    position: static;
}

/*relative postion*/

.outerdiv{
    border: 5px solid blue;
    width: 400px;
    height: 400px;

}
.innerdiv{
    border: 3px solid green;
    background: lightgreen;
    width: 200px;
    height: 200px;
    position: relative;
    z-index:100;
    top: 100px;
    left: 100px;
}

/*absolute*/
.parentabsolute{
    border: 5px solid blue;
    width: 400px;
    height: 400px;
    margin: 30px;
    position:relative;
}

.childabsolute{ 
    border:3px solid violet ;
    background: lightpink;
    width: 200px;
    height: 200px;
    position:absolute;
    top: 50px;
}
/*fixed*/

.fixed{
    border:3px solid violet ;
    background: lightpink;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 5px;
    left: 50px;

}

/*sticky*/
.sticky{
    text-align: center;
    position: sticky;
    top: 0px;
}

.sticky nav a{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: burlywood;
    background: brown;
}

nav a:hover{
    color: red;
}