/*static topic*/
.static{
    border: 5px solid black;
    width: 200px;
    height:200px;
    top: 50px;
    left: 50px;
    position: static;
}

/*relative postion*/

.outerdiv{
    border: 5px solid blue;
    width: 400px;
    height: 400px;

}
.innerdiv{
    border: 3px solid green;
    background: lightgreen;
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 100px;
}