*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    border: 2px solid red;
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-1 box-2 box-3"
    "box-1 box-1 box-4 box-5";
    
    
}

