/*body{
    font-size:1rem;
    border: 2px solid black;
    width: 100vw;
    height: 120vh;
}
#first{
    font-size:2em;
}  

#second{
    font-size:2em;
}*/
#outerdiv{
    font-size: 1rem;
    padding: 24px;
    margin: 16px;
    border: 5px solid black;
}