/*body{
    font-size:1rem;
    border: 2px solid black;
    width: 100vw;
    height: 120vh;
}
#first{
    font-size:2em;
}  

#second{
    font-size:2em;
}*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p{
    font-size: 3rem;
    padding: 24px;
    margin: 16px;
    border: 8px solid black;
    width: 200px;
}